@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 761px) {
  header div {
    /* mi home icon se posicione al lado de mi slogan en tamaños pequeños xs y sm 🙂|*/
  }
  header div .hrow {
    flex-direction: row;
  }
  header div .hrow .elemento2 {
    order: 1;
  }
}
@media (max-width: 761px) and (max-width: 991px) {
  header div .hrow .elemento2 .slogan {
    /* sin esta media mi texto se coloca en 2 líneas a partir de lg 🙂*/
  }
  header div .hrow .elemento2 .slogan .sloganH1 {
    overflow-wrap: break-word;
    white-space: nowrap;
  }
}
@media (max-width: 761px) {
  header div .hrow .elemento4 {
    order: 1;
  }
  header div .hrow .elemento3 {
    order: 2;
  }
}

header div div div .slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #636060, #949191);
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
header div div div .slogan .sloganH1 {
  text-align: center;
}
header div div div .divWhattsapp {
  display: flex;
  align-items: center;
  background: linear-gradient(to top, #636060, #949191);
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
}
header div div div .divWhattsapp .celu h2 {
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  color: rgb(35, 35, 35);
  font-size: 2.5 rem;
  padding: 5%;
}
header .containerHeader2 {
  display: flex;
  flex-direction: column;
  width: 97%;
  margin: 0 auto;
  background-color: white;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
}
header .containerHeader2 .navElements1 .navbar {
  display: flex;
}
header .containerHeader2 .navElements1 .navbar div .navbar-brand {
  font-size: 0.8rem;
}
header .containerHeader2 .navElements1 .navbar div div .navbar-nav {
  font-size: 0.8rem;
}
header .containerHeader2 .navElements2 div form .labelLeyenda {
  font-size: 16px;
  white-space: nowrap;
  padding: 5px;
}
header .containerHeader2 .navElements2 div form .d-flex {
  padding: 2%;
}

footer div div .direcciones {
  font-weight: bold;
  color: #f0eaea;
  text-align: center;
}
footer div .imglogoFooter {
  border-radius: 5px;
  margin-bottom: 1%;
}
footer .iconsFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

body {
  background-image: url(../imagenes/fondo-chapa-semillada.jpg);
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
}

main div {
  display: flex;
  justify-content: center;
  align-items: center;
}
main div div div .imgp2 {
  justify-content: center;
  align-items: center;
}
main div div div .parp2 {
  display: flex;
  text-align: justify;
  white-space: pre-line;
  padding: 2rem;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  color: #f0eaea;
}

.mainP3 {
  margin-top: 5%;
  margin-bottom: 10%;
}
.mainP3 .mainSection3-1 div .h1p3 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: 20px;
  color: #f0eaea;
  font-size: 4rem;
}
.mainP3 .mainSection3-2 div div .caja3-1 .par3-1 {
  line-height: 2;
  text-align: justify;
  font-family: "Raleway", sans-serif;
  color: #f0eaea;
}
.mainP3 .mainSection3-2 div div .caja3-2 .par3-2 {
  line-height: 2;
  text-align: justify;
  font-family: "Raleway", sans-serif;
  color: #f0eaea;
}

main {
  padding-top: 2rem;
  padding-bottom: 5%;
}
main .mainSection4-1 {
  justify-content: end;
}
main .mainSection4-1 .row .carrito .car {
  padding: 1%;
}
main .mainSection4-2 {
  display: flex;
  justify-content: start;
  padding: 1%;
}
main .mainSection4-2 .productos1 {
  justify-content: start;
  padding: 3%;
}
main .mainSection4-2 .productos1 .img4-2-1 {
  border: solid 2px rgb(94, 85, 85);
  border-radius: 3px;
}
@media (max-width: 992px) {
  main .mainSection4-2 .productos1 {
    justify-content: center;
  }
}
@media (max-width: 992px) {
  main .mainSection4-3 {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  main .mainSection4-3 .productos2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  main .mainSection4-3 .productos2 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
main .mainSection4-3 .productos2 .prod2-1 {
  display: flex;
  flex-direction: column;
}
main .mainSection4-3 .productos2 .prod2-1 img {
  border: solid grey 1px;
  border-radius: 2px;
  padding: 10px;
}
main .mainSection4-3 .productos2 .prod2-1 .p-4 {
  font-family: "Raleway", sans-serif;
  text-wrap: nowrap;
  color: #f0eaea;
  font-weight: bold;
  font-size: 1rem;
}
main .mainSection4-3 .productos2 .prod2-2 {
  display: flex;
  flex-direction: column;
}
main .mainSection4-3 .productos2 .prod2-2 img {
  border: solid grey 1px;
  border-radius: 2px;
  padding: 10px;
}
main .mainSection4-3 .productos2 .prod2-2 .p-4 {
  font-family: "Raleway", sans-serif;
  text-wrap: nowrap;
  color: #f0eaea;
  font-weight: bold;
  font-size: 1rem;
}
main .mainSection4-3 .productos2 .prod2-3 {
  display: flex;
  flex-direction: column;
}
main .mainSection4-3 .productos2 .prod2-3 img {
  border: solid grey 1px;
  border-radius: 2px;
  padding: 10px;
}
main .mainSection4-3 .productos2 .prod2-3 .p-4 {
  font-family: "Raleway", sans-serif;
  text-wrap: nowrap;
  color: #f0eaea;
  font-weight: bold;
  font-size: 1rem;
}

main .tituloP5 {
  display: flex;
  justify-content: center;
}
main .tituloP5 h1 .pclient5 {
  font-family: "Raleway", sans-serif;
  color: #f0eaea;
  font-size: 3rem;
  padding: 2rem;
}
main .contienelasFotos {
  display: flex;
}
@media (max-width: 768px) {
  main .contienelasFotos {
    display: flex;
    flex-direction: column;
  }
}
main git .section5-1 {
  display: flex;
}
main git .section5-1 .imgCliente5x {
  display: flex;
  width: 90%;
}
main .section5-2.contenedor-flex {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  main .section5-2.contenedor-flex .tresImagenes1, main .section5-2.contenedor-flex .tresImagenes2, main .section5-2.contenedor-flex .tresImagenes3, main .section5-2.contenedor-flex .tresImagenes4 {
    width: 90%;
  }
}
main .section5-2.contenedor-flex .imagenC1 {
  padding: 2%;
  border: solid black 1px;
  width: 100px;
  height: 100px;
}
@media (max-width: 330px) {
  main .section5-2.contenedor-flex .imagenC1 {
    width: 30px;
    height: auto;
  }
}
main .section5-2.contenedor-flex .imagenC2 {
  padding: 2%;
  border: solid black 1px;
  width: 100px;
  height: 100px;
}
@media (max-width: 330px) {
  main .section5-2.contenedor-flex .imagenC2 {
    width: 30px;
    height: auto;
  }
}
main .section5-2.contenedor-flex .imagenC3 {
  padding: 2%;
  border: solid black 1px;
  width: 100px;
  height: 100px;
}
@media (max-width: 330px) {
  main .section5-2.contenedor-flex .imagenC3 {
    width: 30px;
    height: auto;
  }
}
main .section5-2.contenedor-flex .imagenC4 {
  padding: 2%;
  border: solid black 1px;
  width: 100px;
  height: 100px;
}
@media (max-width: 330px) {
  main .section5-2.contenedor-flex .imagenC4 {
    width: 30px;
    height: auto;
  }
}
main .section5-2.contenedor-flex .imagenC5 {
  padding: 2%;
  border: solid black 1px;
  width: 100px;
  height: 100px;
}
@media (max-width: 330px) {
  main .section5-2.contenedor-flex .imagenC5 {
    width: 30px;
    height: auto;
  }
}
main .section5-2.contenedor-flex .imagenC6 {
  padding: 2%;
  border: solid black 1px;
  width: 100px;
  height: 100px;
}
@media (max-width: 330px) {
  main .section5-2.contenedor-flex .imagenC6 {
    width: 30px;
    height: auto;
  }
}
main .section5-2.contenedor-flex .imagenC7 {
  padding: 2%;
  border: solid black 1px;
  width: 100px;
  height: 100px;
}
@media (max-width: 330px) {
  main .section5-2.contenedor-flex .imagenC7 {
    width: 30px;
    height: auto;
  }
}
main .section5-2.contenedor-flex .imagenC8 {
  padding: 2%;
  border: solid black 1px;
  width: 100px;
  height: 100px;
}
@media (max-width: 330px) {
  main .section5-2.contenedor-flex .imagenC8 {
    width: 30px;
    height: auto;
  }
}
main .section5-2.contenedor-flex .imagenC9 {
  padding: 2%;
  border: solid black 1px;
  width: 100px;
  height: 100px;
}
@media (max-width: 330px) {
  main .section5-2.contenedor-flex .imagenC9 {
    width: 30px;
    height: auto;
  }
}
main .section5-2.contenedor-flex .imagenC10 {
  padding: 2%;
  border: solid black 1px;
  width: 100px;
  height: 100px;
}
@media (max-width: 330px) {
  main .section5-2.contenedor-flex .imagenC10 {
    width: 30px;
    height: auto;
  }
}
main .section5-2.contenedor-flex .imagenC11 {
  padding: 2%;
  border: solid black 1px;
  width: 100px;
  height: 100px;
}
@media (max-width: 330px) {
  main .section5-2.contenedor-flex .imagenC11 {
    width: 30px;
    height: auto;
  }
}
main .section5-2.contenedor-flex .imagenC12 {
  padding: 2%;
  border: solid black 1px;
  width: 100px;
  height: 100px;
}
@media (max-width: 330px) {
  main .section5-2.contenedor-flex .imagenC12 {
    width: 30px;
    height: auto;
  }
}

main .section6 {
  display: flex;
  padding: 3%;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 991px) {
  main .section6 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
main .section6 .p6div1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .section6 .p6div1 a img.imgP6 {
  whidth: 100%;
  filter: brightness(0.7);
}
main .section6 .p6div1 a img.imgP6:hover {
  filter: brightness(1);
}
@media (max-width: 580px) {
  main .section6 .p6div1 a img.imgP6 {
    width: 90%;
  }
}
main .section6 .tels {
  display: block;
  flex: none;
}
main .section6 .tels .p6div2Tels1 {
  font-family: "Raleway", sans-serif;
  padding: 1%;
}
main .section6 .tels .p6div2Tels1 a {
  flex-direction: column;
  text-decoration: none;
  padding: 5px;
  filter: brightness(0.7);
}
main .section6 .tels .p6div2Tels1 a:hover {
  filter: brightness(1);
}
main .section6 .tels .p6div2Tels1 h3 {
  text-wrap: nowrap;
  color: #f0eaea;
}
main .section6 .tels .p6div2Tels2 {
  font-family: "Raleway", sans-serif;
  padding: 1%;
}
main .section6 .tels .p6div2Tels2 a {
  flex-direction: column;
  text-decoration: none;
  padding: 5px;
  filter: brightness(0.7);
}
main .section6 .tels .p6div2Tels2 a:hover {
  filter: brightness(1);
}
main .section6 .tels .p6div2Tels2 h3 {
  text-wrap: nowrap;
  color: #f0eaea;
}
main .section6 .tels .p6div2Tels3 {
  font-family: "Raleway", sans-serif;
  padding: 1%;
}
main .section6 .tels .p6div2Tels3 a {
  flex-direction: column;
  text-decoration: none;
  padding: 5px;
  filter: brightness(0.7);
}
main .section6 .tels .p6div2Tels3 a:hover {
  filter: brightness(1);
}
main .section6 .tels .p6div2Tels3 h3 {
  text-wrap: nowrap;
  color: #f0eaea;
}
main .section6 .tels .p6div2Tels4 {
  font-family: "Raleway", sans-serif;
  padding: 1%;
}
main .section6 .tels .p6div2Tels4 a {
  flex-direction: column;
  text-decoration: none;
  padding: 5px;
  filter: brightness(0.7);
}
main .section6 .tels .p6div2Tels4 a:hover {
  filter: brightness(1);
}
main .section6 .tels .p6div2Tels4 h3 {
  text-wrap: nowrap;
  color: #f0eaea;
}

/*# sourceMappingURL=estilo.css.map */
