main {
    .section6 {
        display: flex;
        padding: 3%;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .p6div1 {
            display: flex;
            align-items: center;
            justify-content: space-around;

            a {
                img.imgP6 {
                    whidth: 100%;
                    filter: brightness(0.9);

                    &:hover {
                    filter: brightness(1);
                    }

                    @media (max-width: 580px) {
                        width: 90%;
                    }
                }
            }
        }
        .tels {
            display: block;
            flex: none;

            .p6div2Tels1 {
                @include telefonos;
            }
            .p6div2Tels2 {
                @include telefonos;
            }
            .p6div2Tels3 {
                @include telefonos;
            }
            .p6div2Tels4 {
                @include telefonos;
            }
        }
    }
    .correoE a {
        text-decoration:none;
        padding: 5%;
        h2 {
        font-size: 2rem;
        color: rgb(190, 190, 5);
        filter: brightness(0.9);

        &:hover {
            filter: brightness(1);
        }

        @media(max-width:480px) {
            font-size: 100%;
        }
        }  
    }
}
