main {
    .section6 {
        display: flex;
        padding: 3%;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
            @media (max-width: 991px) {
                width: 90%;
            }
    }
    .p6div2Tels1 {
        @include telefonos
    }
    .p6div2Tels2 {
        @include telefonos
    }
    .p6div2Tels3 {
        @include telefonos
    }
    .p6div2Tels4 {
        @include telefonos
    }
}
