main {
    .section6 {
        display: flex;
        padding: 3%;
        align-items: center;
        justify-content: space-around;
        @media (max-width: 991px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            .p6div1 {
                display: flex;
                .imgP6 {
                    border: solid 1px rgb(234, 231, 231);
                    border-radius: 5px;
                    filter: brightness(0.9);
                    &:hover {
                        filter: brightness(1);
                    }
                }
            }
            .p6div2Tels {
                font-family: "Raleway", sans-serif;
                color: #f0eaea;
            }
        }
    }
}
