footer {
    div {
        div {
            .direcciones {
                font-weight: bold;
                color: #f0eaea;
                text-align: center;
            }
        }
    }
    .iconsFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3%;
    }
}
