* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    div {
        @media (max-width: 761px) {
            /* mi home icon se posicione al lado de mi slogan en tamaños pequeños xs y sm */
            .hrow {
                flex-direction: row;

                .elemento2 {
                    order: 1;
                    .slogan {
                        @media (max-width: 991px) {
                            /* sin esta media mi texto se coloca en 2 líneas a partir de lg */
                            .sloganH1 {
                                overflow-wrap: break-word;
                                white-space: nowrap;
                            }
                        }
                    }
                }

                .elemento4 {
                    order: 1;
                }

                .elemento3 {
                    order: 2;
                }
            } 
        }
    } 
} 

