header {
    div {
        div {
            div {
                .slogan {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #949191;
                    margin-top: 1.7rem;
                    margin-bottom: 1.7rem;
                    border-radius: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                    .sloganH1 {
                        text-align: center;
                    }
                }
                .divWhattsapp {
                    display: flex;
                    align-items: center;
                    background-color: #949191;
                    margin-top: 1.7rem;
                    margin-bottom: 1.7rem;
                    border-radius: 5px;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    .celu {
                        h2 {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 2.5 rem;
                            padding: 5%;
                        }
                    }
                }
            }
        }
    }
    .containerHeader2 {
        display: flex;
        width: 97%;
        margin: 0 auto;
        background-color: white;
        justify-content: space-between;
        border: 1px solid black;
        border-radius: 10px;
        .navElements1 {
            .navbar {
                display: flex;
                div {
                    /*el de arriba: es .div o div a secas???*/
                    .navbar-brand {
                        font-size: 0.8rem;
                    }
                    div {
                        .navbar-nav {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
        .navElements2 {
            div {
                form {
                    .labelLeyenda {
                        font-size: 16px;
                        white-space: nowrap;
                        padding: 5px;
                    }
                    .d-flex {
                        padding: 2%;
                    }
                }
            }
        }
    }
}
