@mixin telefonos () {
    font-family: "Raleway", sans-serif;
    padding: 1%;
        a {
            flex-direction: column;
            text-decoration: none;
            padding: 5px;
            filter: brightness(0.7);

            &:hover {
            filter: brightness(1);
            }
        }
            h3 {
                text-wrap: nowrap;
                color: #f0eaea;
            
            }
}
@mixin imagenesPequenas () {
    padding: 2%;
    border: solid black 1px;
    width: 100px;
    height: 100px;

    @media (max-width:330px) {
        width: 30px;
        height: auto;
        
    }
}