main {
    .mainSection4-1 { justify-content: end;
        .row {
            .carrito {
                .car{
                    padding: 1%;
                }
            }
        }
    }
    .mainSection4-2 {
        justify-content: start;
        padding: 1%;
    }
}
