main {
    .tituloP5 {
        display: flex;
        justify-content: center;
        h1 {
            .pclient5 {
                font-family: "Raleway", sans-serif;
                color: #f0eaea;
                font-size: 3rem;
                padding: 2rem;
            }
        }
    }
    .contienelasFotos {
        display: flex;        
        align-items: center;
        margin: 10px auto;
        @media (max-width: 992px) {
            display: flex;
        }
    }

    .section5-1 {
        display: flex;
        justify-content: center;
        align-items: center;

        .imgCliente5x {
            width: 90%;
        }
    }

    .section5-2.contenedor-flex {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        flex: 1;
        margin: 10px;
        /*contenedor de todas las imagenes pequeñas de cleintes*/    
        @media (max-width: 768px) {
            flex-direction: column;
        }
        .imagenCliente5x5 {
            border: solid black 20px;
            width: 100%;
        }
    }
}
