main {
    padding-top: 2rem;
    padding-bottom: 5%;
    .mainSection4-1 {
        justify-content: end;
        .row {
            .carrito {
                .car {
                    padding: 1%;
                }
            }
        }
    }

    .mainSection4-2 {
        display: flex;
        justify-content: start;
        padding: 1%;

        .productos1 {
            justify-content: start;
            padding: 3%;
            .img4-2-1 {
                border: solid 2px rgb(94, 85, 85);
                border-radius: 3px;
            }
        }
        @media (max-width:992px) {
            .productos1 {
                justify-content: center
            
            }
        }
    }
    .mainSection4-3 {

        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
            margin-top: 10%;
                
            .productos2 {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        
        @media (min-width: 992px) {
                                
            .productos2 {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                }
            }

        .productos2 {
            .prod2-1 {
                display: flex;
                flex-direction: column;
                img {
                    @include
                    imgProductos
                }
                .p-4 {
                    @include parrafolineaSimple
                }
            }
            .prod2-2 {
                display: flex;
                flex-direction: column;
                img {
                    @include
                    imgProductos
                }
                .p-4 {
                    @include parrafolineaSimple
                }
            }
            .prod2-3 {
                display: flex;
                flex-direction: column;
                img {
                    @include
                    imgProductos
                }
                .p-4 {
                    @include parrafolineaSimple
                }
            }
        }

        }
    }   


