main {
    .tituloP5 {
        display: flex;
        justify-content: center;
        h1 {
            .pclient5 {
                font-family: "Raleway", sans-serif;
                color: #f0eaea;
                font-size: 3rem;
                padding: 2rem;
            }
        }
    }
    .contienelasFotos {
        display: flex; 
        
        @media (max-width:768px) {
            display: flex;
            flex-direction: column;
        }
    }git
    .section5-1 {
        display: flex;

        .imgCliente5x {
            display: flex;
            width: 90%;
        }

    }
    .section5-2.contenedor-flex {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;

        .tresImagenes1, .tresImagenes2, .tresImagenes3, .tresImagenes4 {

        @media (max-width:480px) {
            width: 90%;
            }
        }
        
        .imagenC1 {
            @include imagenesPequenas;
        }
        .imagenC2 {
            @include imagenesPequenas;
        }
        .imagenC3 {
            @include imagenesPequenas;
        }
        .imagenC4 {
            @include imagenesPequenas;
        }
        .imagenC5 {
            @include imagenesPequenas;
        }
        .imagenC6 {
            @include imagenesPequenas;
        }
        .imagenC7 {
            @include imagenesPequenas;
        }
        .imagenC8 {
            @include imagenesPequenas;}
        .imagenC9 {
            @include imagenesPequenas;
        }
        .imagenC10 {
            @include imagenesPequenas;
        }
        .imagenC11 {
            @include imagenesPequenas;
        }
        .imagenC12 {
            @include imagenesPequenas;
        }










    }
}
