main {
    .tituloP5 {
        display: flex;
        justify-content: center;
        h1 {
            .pclient5 {
                font-family: "Raleway", sans-serif;
                color: #f0eaea;
                font-size: 3rem;
                padding: 2rem;
            }
        }
    }
    .contienelasFotos {
        display: flex;
        margin: 10px auto;
    }
    
        .section5-1 {
            display: flex;
            justify-content: center;
            align-items: center;
    
            .imgCliente5x {
                width: 100%;    
            
                @media (max-width: 991px) {
                    width: 40%;
                }
            }
        }
    
        .section5-2 {
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;        
        align-items: center;
        justify-content: space-around;
    
            .imagenCliente5x5 {
                border: solid black 20px;
                width: 100%;
    
                @media (max-width: 991px) {
                    width: 40;
                }
            }
        }
    }



