main {
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            div {
                .imgp2 {                justify-content: center;
                align-items: center;
                }        
                .parp2 {
                    display: flex;
                    text-align: justify;
                    white-space:pre-line;           
                    padding: 2rem;
                    line-height: 1.5;
                    font-family:    "Raleway", sans-serif;
                    color: #f0eaea;
                }
            }
        }
    }
}
