.mainP3 {
    .mainSection3-1 {
        div {
            .h1p3 {
                font-family: "Raleway", sans-serif;
                text-align: center;
                margin-top: 20px;
                color: #f0eaea;
            }
        }
    }
    .mainSection3-2 {
        div {
            div {
                .caja3-1 {
                    .par3-1 {
                        font-family: "Raleway", sans-serif;
                        color: #f0eaea;
                    }
                }
                .caja3-2 {
                    .par3-2 {
                        font-family: "Raleway", sans-serif;
                        color: #f0eaea;
                    }
                }
            }
        }
    }
}

