.mainP3 {
    margin-top: 5%;
    margin-bottom: 10%;
    .mainSection3-1 {
        div {
            .h1p3 {
                font-family: "Raleway", sans-serif;
                text-align: center;
                margin-top: 20px;
                color: #f0eaea;
                font-size: 4rem;
            }
        }
    }
    .mainSection3-2 {
        div {
            div {
                .caja3-1 {
                    .par3-1 {
                        line-height: 2;
                        text-align: justify;
                        font-family: "Raleway", sans-serif;
                        color: #f0eaea;
                    }
                }
                .caja3-2 {
                    .par3-2 {
                        line-height: 2;
                        text-align: justify;
                        font-family: "Raleway", sans-serif;
                        color: #f0eaea;
                    }
                }
            }
        }
    }
}

